<div class="container-fluid p-5 bg-warning text-white text-center" id="head">
    <h2>EMPLOYEE MANAGEMENT SYSTEM</h2>
    <h6>EDIT EMPLOYEE DETAILS</h6>
  </div>

<a routerLink="/home/" class="btn btn-dark" style="margin-top: 10px; margin-left: 50px;">BACK</a>  
<form #f="ngForm" (ngSubmit)="submit()">
    <div>
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" name="name" required minlength="3" pattern="[A-Z a-z]{3,100}" [(ngModel)]="Obj.name" #n="ngModel">
        <div *ngIf="n.invalid && (n.touched||n.dirty)" class="text-danger">
            <p *ngIf="n.errors?.['required']">Enter Your Name..</p>
            <p *ngIf="n.errors?.['pattern']">Allow Only Character..</p>
        </div>
    </div>
    <div>
        <label class="form-label">Age:</label>
        <input type="number" class="form-control" name="age" required min="20" max="60" [(ngModel)]="Obj.age" #a="ngModel">
        <div *ngIf="a.invalid && (a.touched||a.dirty)" class="text-danger">
            <p *ngIf="a.errors?.['required']">Enter Your Age..</p>
            <p *ngIf="a.errors?.['min']">Enter Your Age Minimum 20..</p>
            <p *ngIf="a.errors?.['max']">Enter Your Age Maximum upto 60..</p>
        </div>
    </div>
    <div>
        <label class="form-label">Gender:</label>
        <select class="form-control" name="gender" required [(ngModel)]="Obj.gender" #g="ngModel">
            <option *ngFor="let i of gender">{{i}}</option>
        </select>
        <div *ngIf="g.invalid && (g.touched||g.dirty)" class="text-danger">
            <p *ngIf="g.errors?.['required']">Please Select Your Gender...</p>
        </div>
    </div>
    <div>
        <label class="form-label">Email:</label>
        <input type="email" class="form-control" name="mail" required [(ngModel)]="Obj.mail" #m="ngModel">
        <div *ngIf="m.invalid && (m.touched||m.dirty)" class="text-danger">
            <p *ngIf="m.errors?.['required']" class="text-danger">Enter Your Email..</p>
        </div>
    </div>
    <div>
        <label class="form-label">Phone:</label>
        <input type="text" class="form-control" name="phone" required maxlength="10" [(ngModel)]="Obj.phone" #p="ngModel">
        <div *ngIf="p.invalid && (p.touched||p.dirty)" class="text-danger">
            <p *ngIf="p.errors?.['required']">Enter Your Mobile Number..</p>
            <p *ngIf="p.errors?.['maxlength']">Please Enter 10 Digit Mobile Number..</p>
        </div>
    </div>
    <div>
        <label class="form-label">City:</label>
        <input type="text" class="form-control" name="city" required [(ngModel)]="Obj.city" #c="ngModel">
        <div *ngIf="c.invalid && (c.touched||c.dirty)" class="text-danger">
            <p *ngIf="c.errors?.['required']">Please Enter Your City..</p>
        </div>
        
    </div>
    <div>
        <input type="submit" class="btn bg-success" id="btn" [disabled]="f.invalid">
    </div>
</form>